cryptography==2.9.2
Django==2.2.10
django-cors-headers==3.2.1
django-filter==2.2.0
djangorestframework==3.11.0
Markdown==3.2.2
mysqlclient==1.4.6
PyJWT==1.7.1
wechatpy==1.8.13
Pillow==7.1.2
redis==3.5.2
